.card {
  height: 100px;
  padding: 0 !important;
  background-color: #00a3e0;
  color: #ffffff;
  border: none !important;
  margin: 0 !important;
  justify-content: center;
}
.card .card-header {
  background-color: transparent !important;
  border: none;
}
.homeLogo {
  cursor: pointer;
  color: #ffffff;
}
.homeLogo:hover {
  font-weight: bold;
  text-decoration: none;
}
.users-container {
  padding: 0;
}
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}
